# This is an example .env.aws file.
# Copy this file to .env.aws and fill in your secrets.
# Do not commit .env.aws to version control.

# Discord Bot Token
DISCORD_TOKEN=""

# Gemini API Key
GEMINI_API_KEY=""

# SMTP Server Settings
SMTP_SERVER=""
SMTP_PORT=""
SMTP_USER=""
SMTP_PASSWORD=""

# Digest Recipient
DIGEST_RECIPIENT=""

# Database Path
APP_DB="/app/huh.db"

# Summary Role ID
SUMMARY_ROLE_ID=""
