pip
autopep8
Flask==3.0.3
gunicorn==22.0.0
Werkzeug==3.0.6
google-auth
requests
google-auth-oauthlib
discord.py
aiohttp
python-dotenv
apscheduler
google-generativeai
fpdf2
google-cloud-firestore
firebase-admin
matplotlib
pytz
weasyprint